In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()

In [5]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
df1 = pd.DataFrame([[1,23,65,3], [3,5,7,4],[96,46,3,5], [12,54,67,3],[12,4,5,3],[12,23,43,45]])

In [9]:
print(df1)

    0   1   2   3
0   1  23  65   3
1   3   5   7   4
2  96  46   3   5
3  12  54  67   3
4  12   4   5   3
5  12  23  43  45

In [10]:
df1

    0   1   2   3
0   1  23  65   3
1   3   5   7   4
2  96  46   3   5
3  12  54  67   3
4  12   4   5   3
5  12  23  43  45

In [11]:
df1.head(2)

   0   1   2  3
0  1  23  65  3
1  3   5   7  4

In [13]:
df1.tail(3)

    0   1   2   3
3  12  54  67   3
4  12   4   5   3
5  12  23  43  45